body {
  background-color: #a9a9a9
}

@import "https://unpkg.com/fixedsys-css/css/fixedsys.css";
@font-face {
  font-family:FixedSysEx,
  font-smooth:never,
}

.current {
  color: green;
}

navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

