@import "https://unpkg.com/fixedsys-css/css/fixedsys.css";

body {
  background-color: #a9a9a9;
  font-family: 'FixedSysEx';
  font-size: 16px;
  font-smooth: never;
}

.current {
  color: green;
}

navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

